<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="assert-objectscript.ZPM">
    <Module>
      <Name>assert-objectscript</Name>
      <Description>Assertion library for ObjectScript</Description>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="hbt.utility.testing.PKG"/>
      <SystemSetting Name="CSP.DefaultFileCharset" Value="UTF-8"/>
    </Module>
  </Document>
</Export>
